<lib-ui-card
  title="STOCKS.SYMBOL_SEARCH.SECTION_TITLE"
  subtitle="STOCKS.SYMBOL_SEARCH.SECTION_SUBTITLE"
>
  <!-- Search -->
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <lib-ui-input-text
      id="input-symbol"
      [form]="form"
      controlName="symbol"
      placeholder="STOCKS.SYMBOL_SEARCH.FORM_FIELD.SYMBOL.PLACEHOLDER"
      [leftAddon]="leftAddon"
      cssClass="grid grid-cols-3 gap-4"
    />
  </form>

  <!-- Results -->
  <section class="mt-4 grid grid-cols-2 gap-2">
    <!-- Exact match -->
    <p-panel [header]="'STOCKS.SYMBOL_SEARCH.EXACT_MATCH' | translate">
      @if (exactMatch) {
      <lib-ui-summary-list [data]="exactMatchSummary" />
      <div class="grid grid-cols-4 gap-2">
        <span>{{ exactMatch.description }}</span>
        <span>{{ exactMatch.symbol }}</span>
        <span>{{ exactMatch.displaySymbol }}</span>
        <span>{{ exactMatch.type }}</span>
      </div>
      } @else {
      <p>{{ 'STOCKS.SYMBOL_SEARCH.EXACT_MATCH_EMPTY' | translate }}</p>
      }
    </p-panel>

    <!-- Best matches -->
    <p-panel [header]="'STOCKS.SYMBOL_SEARCH.BEST_MATCHES' | translate">
      @if (otherMatches.length > 0) {
      <lib-ui-table
        [dataKey]="dataKey"
        [columns]="columns"
        [rows]="otherMatches"
        size="small"
      />
      } @else {
      <p>{{ 'STOCKS.SYMBOL_SEARCH.BEST_MATCHES_EMPTY' | translate }}</p>
      }
    </p-panel>
  </section>
</lib-ui-card>
