.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.login-box {
  width: 100%;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 25px;
}
