.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.login-box {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 25px;
}

.login-box__header {
  text-align: center;

  img {
    width: 400px;
    height: auto;
  }
}

.login-box__user {
  text-align: center;
}

.login-box__google {
  text-align: center;
}
