<div class="login-container">
	<div class="login-box">
		<div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
			<div class="text-center mb-8">
				<div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
					Welcome to PrimeLand!
				</div>
				<span class="text-muted-color font-medium">Sign in to continue</span>
			</div>
			<div>

				<!-- <label for="email1"
						class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label><input
						pinputtext="" id="email1" type="text" placeholder="Email address"
						class="p-inputtext p-component w-full md:w-[30rem] mb-8 ng-untouched ng-pristine ng-valid"
						pc1="" /><label for="password1"
						class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
						<p-password
						id="password1" placeholder="Password" styleclass="mb-4"
						class="ng-untouched ng-pristine ng-valid" pc2="" />
					<div class="flex items-center justify-between mt-2 mb-8 gap-8">
						<span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Forgot
							password?</span>
					</div>
					<p-button label="Sign In" styleclass="w-full" routerlink="/" tabindex="0" pc4="">Sign In</p-button> -->
			</div>
		</div>
	</div>
</div>