<div class="login-container">
	<div class="login-box">

		<!-- Header -->
		<div class="login-box__header">
			<img [src]="logoSrc" alt="Logo Finance Tracker" />
			<h1>{{ 'LOGIN.PAGE_TITLE' | translate}}</h1>
			<h3>{{ 'LOGIN.PAGE_SUBTITLE' | translate }}</h3>
		</div>

		<!-- Login: Email + Password -->
		<div class="login-box__user">
			<!-- <label for="email1"
						class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label><input
						pinputtext="" id="email1" type="text" placeholder="Email address"
						class="p-inputtext p-component w-full md:w-[30rem] mb-8 ng-untouched ng-pristine ng-valid"
						pc1="" /><label for="password1"
						class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
						<p-password
						id="password1" placeholder="Password" styleclass="mb-4"
						class="ng-untouched ng-pristine ng-valid" pc2="" />
					<div class="flex items-center justify-between mt-2 mb-8 gap-8">
						<span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Forgot
							password?</span>
					</div>
					-->
			<p-button [label]="'LOGIN.BUTTON_SIGNIN' | translate" type="submit" [rounded]="true" size="large"
				[fluid]="true" tabindex="0" />

			<p>{{'LOGIN.CREATE_ACCOUNT' | translate }} <p-button [label]="'LOGIN.BUTTON_SIGNUP' | translate"
					variant="text" [rounded]="true" size="small" tabindex="1" /></p>
		</div>


		<p-divider align="center">
			<b>{{ 'LOGIN.DIVIDER' | translate }}</b>
		</p-divider>

		<!-- Login: Google -->
		<div class="login-box__google">
			<p-button [label]="'LOGIN.BUTTON_GOOGLE' | translate" variant="outlined" severity="secondary"
				[rounded]="true" size="large" [fluid]="true" tabindex="2" (onClick)="authService.loginWithGoogle()">
				<ng-template #icon>
					<img [src]="googleIconSrc" width="25" alt="Google icon logo" />
				</ng-template>
			</p-button>
		</div>
	</div>
</div>