<lib-ui-card
	title="STOCKS.SYMBOL_SEARCH.SECTION_TITLE"
	subtitle="STOCKS.SYMBOL_SEARCH.SECTION_SUBTITLE">

	<!-- Search -->
	<form [formGroup]="form" (ngSubmit)="submit($event)">
		<lib-ui-input-text 
			id="input-symbol" 
			[form]="form"
			controlName="symbol" 
			placeholder="STOCKS.SYMBOL_SEARCH.FORM_FIELD.SYMBOL.PLACEHOLDER"
			[leftAddon]="leftAddon"
			cssClass="grid grid-cols-3 gap-4"
		/>
	</form>

	<!-- Results -->
	<section class="mt-4">

		<!-- Exact match -->
		<h3>{{'STOCKS.SYMBOL_SEARCH.EXACT_MATCH' | translate }}</h3>
		@if (exactMatch) {
			<div class="grid grid-cols-4 gap-2">
				<span>{{exactMatch.description}}</span>
				<span>{{exactMatch.symbol}}</span>
				<span>{{exactMatch.displaySymbol}}</span>
				<span>{{exactMatch.type}}</span>
			</div>
		} @else {
			<p>{{'STOCKS.SYMBOL_SEARCH.EXACT_MATCH_EMPTY' | translate }}</p>
		}

		<!-- Best matches -->
		<h3>{{'STOCKS.SYMBOL_SEARCH.BEST_MATCHES' | translate }}</h3>
		@if (otherMatches.length > 0) {
			<div class="grid grid-cols-4 gap-2">
				@for(otherMatch of otherMatches; track otherMatch.symbol) {
					<span>{{otherMatch?.description || '-'}}</span>
					<span>{{otherMatch?.symbol || '-'}}</span>
					<span>{{otherMatch?.displaySymbol || '-'}}</span>
					<span>{{otherMatch?.type || '-'}}</span>
				}
			</div>
		} @else {
			<p>{{'STOCKS.SYMBOL_SEARCH.BEST_MATCHES_EMPTY' | translate }}</p>
		}
	
	</section>
	

</lib-ui-card>