<lib-ui-card
	title="STOCKS.SYMBOL_SEARCH.SECTION_TITLE"
	subtitle="STOCKS.SYMBOL_SEARCH.SECTION_SUBTITLE">

	<form [formGroup]="form">
		<lib-ui-input-text 
			id="input-symbol" 
			[form]="form" 
			controlName="symbol" 
			label="STOCKS.SYMBOL_SEARCH.FORM_FIELD.SYMBOL.LABEL"
			placeholder="STOCKS.SYMBOL_SEARCH.FORM_FIELD.SYMBOL.PLACEHOLDER"
		/>

		form.invalid = {{form.invalid}}<br />
		form.value = {{form.value | json}}<br />
		form.errors = {{form.errors | json}}<br />
	</form>

</lib-ui-card>